## Challenge 3 - Python and SQL

## SQL & Python

#### Load dependencies

In [2]:
import sqlite3

#### Connect to our database

In [4]:
conn = sqlite3.connect('database.sqlite')
db = conn.cursor()

#### Query skeleton

Each of our method will take this `db` argument, which is a connection to the database, on which you can call the `execute` method.  
The skeleton of a query using Python's sqlite3 should look like this:

In [8]:
def the_method(db):
    results = db.execute("select c.name, l.id, count(m.id) as Nb_Match from Match m JOIN Country c ON c.id=l.country_id JOIN League l ON l.id=m.league_id GROUP BY l.id")
    results = results.fetchall()
    # results in a list (rows) of list (columns)
    return results

the_method(db)

[('Belgium', 1, 1728),
 ('England', 1729, 3040),
 ('France', 4769, 3040),
 ('Germany', 7809, 2448),
 ('Italy', 10257, 3017),
 ('Netherlands', 13274, 2448),
 ('Poland', 15722, 1920),
 ('Portugal', 17642, 2052),
 ('Scotland', 19694, 1824),
 ('Spain', 21518, 3040),
 ('Switzerland', 24558, 1422)]

For example, if we asked you to return 3 countries from the soccer database, you would write the following method and run it:

In [7]:
# Your method
def three_countries(db):
    results = db.execute("SELECT name FROM country LIMIT 3")
    results = results.fetchall()
    return results
  
# Method call
three_countries(db)

# => [('Belgium',), ('England',), ('France',)]

[('Belgium',), ('England',), ('France',)]

### Three methods to (re-)implement
You should re-use the queries you have written in the first section (Raw SQL).
1. What are the games that happened in France?

In [24]:
def games_in_france(db):
    results = db.execute("SELECT count(*) from match where country_id = 4769")
    results = results.fetchall()
    # results in a list (rows) of list (columns)
    return results

games_in_france(db)

# games_in_france(db)

[(3040,)]

2. How many people are taller than 2m?

In [18]:
def tall_players_count(db):
    results = db.execute("select count(*) from Player where height>200")
    results = results.fetchall()
    # results in a list (rows) of list (columns)
    return results

# tall_players_count(db)
tall_players_count(db)

[(22,)]

3. How many games where played in each league ?

In [21]:
def game_count_per_league(db):
    query = '''\
    select c.name, l.name, count(m.id) as Nb_Match 
    from Match m 
    JOIN Country c ON c.id=l.country_id 
    JOIN League l ON l.id=m.league_id 
    GROUP BY l.id
    '''
    results = db.execute(query)
    results = results.fetchall()
    # results in a list (rows) of list (columns)
    return results

# game_count_per_league(db)
game_count_per_league(db)

[('Belgium', 'Belgium Jupiler League', 1728),
 ('England', 'England Premier League', 3040),
 ('France', 'France Ligue 1', 3040),
 ('Germany', 'Germany 1. Bundesliga', 2448),
 ('Italy', 'Italy Serie A', 3017),
 ('Netherlands', 'Netherlands Eredivisie', 2448),
 ('Poland', 'Poland Ekstraklasa', 1920),
 ('Portugal', 'Portugal Liga ZON Sagres', 2052),
 ('Scotland', 'Scotland Premier League', 1824),
 ('Spain', 'Spain LIGA BBVA', 3040),
 ('Switzerland', 'Switzerland Super League', 1422)]